<section id="section-{{ section.id }}" class="landing-page" style="background-color:#dad8dc">
  {%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}

  <div class="FlexboxIeFix">
    <div class="ImageHero ImageHero_Section3 {% if section.settings.section_size != 'normal' %}ImageHero--{{ section.settings.section_size }}{% endif %}" {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1' }})"{% endif %}>
      <div class="ImageHero__ImageWrapper">
        <div class="ImageHero__Image {% if section.settings.overlay_opacity > 0 %}ImageHero__ImageWrapper--hasOverlay{% endif %} Image--lazyLoad Image--zoomOut"
             data-optimumx="1.4"
             data-expand="-150"
             {% if section.settings.image %}data-bgset="{{ section.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"{% endif %}>
        </div>

        <noscript>
          <div class="ImageHero__Image" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
        </noscript>

        {%- unless section.settings.image != blank -%}
          <div class="PlaceholderBackground PlaceholderBackground--Dark">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
          </div>
        {%- endunless -%}
      </div>

      
      
      {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank -%}
        <div class="ImageHero__ContentOverlay Section3ContentOverlay">
              

          {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader">
              {%- if section.settings.subheading != blank -%}
                <h3 class="Landing_Heading_1_Section_3">{{ section.settings.subheading | escape }}</h3>
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <h2 class="Landing_Heading_2_Section_3">{{ section.settings.title | escape }}</h2>
              {%- endif -%}
              <div class="image-holder">
				<img class="small_review" src="https://cdn.shopify.com/s/files/1/0017/0118/3547/files/285.png?v=1602001224" />
              </div>
              {%- if section.settings.content != blank -%}
                <div class="SectionHeader__Description_Section_3">
                  {{ section.settings.content }}
                </div>
              {%- endif -%}
              
            </header>
          {%- endif -%}
          
          <div class="middle-images">
          	<div class="left-image">
          		<img class="small_review" src="https://cdn.shopify.com/s/files/1/0017/0118/3547/files/Fights_Body_Breakouts.png?v=1602004920" />
          	</div>
            
          
          	<div class="right-image">
          		<img class="small_review" src="https://cdn.shopify.com/s/files/1/0017/0118/3547/files/Deep_Cleans_Pores.png?v=1602004913" />
          	</div>
          </div>
          
          <div class="middle-images-ingredients">
          	<div class="left-image">
              <a class="view-ingredients" href="#"></a>
          	</div>
            
          
          	<div class="right-image">
              	<a class="view-ingredients" href="#"></a>
          	</div>
          </div>
          
          <div class="Section3Bottom">
            <div>
            	<img src="https://cdn.shopify.com/s/files/1/0017/0118/3547/files/Paraben.png?v=1602008173" />
          	</div>
          	<div class="FeelConfident">Feel Confident Again With Clear Skin</div>
          <ul class="Section3List">
            <li>Fast, free shipping from our domestic warehouse</li>
            <li>Made in the USA, the greatest country in the world</li>
            <li>Your own personal "Wingman" to help you with whatever you need</li>
            <li>Backed by a 30-day money-back guarantee</li>
          </ul>
          
          <div class="Section3Price">$29</div>
          
          <div class="AddToCartSection3">
                <form method="post" action="/cart/add">
  					<input type="hidden" name="id" value="30231671046203" />
                  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                  <button class="ProductForm__AddToCart Button Button--primary Button--full" type="submit" data-action="add-to-cart">
                    <span>ADD TO CART</span>
                  </button>
				</form>
              </div>
          
          	<div class="SubButton1">90-DAY SUPPLY. $0.32 PER DAY</div>
          	<div class="SubButton2Section3">SHHH, DON"T TELL OUR CEO</div>
          </div>
          
          
        </div>
      {%- endif -%}
    </div>
  </div>
  <div class=BottomBar></div>
</section>

<style>
  #section-{{ section.id }},
  #section-{{ section.id }} .Heading {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .ImageHero__ImageWrapper--hasOverlay::before {
    {%- assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0 -%}
    background-color: {{ section.settings.overlay_color | color_modify: 'alpha', overlay_opacity }};
  }
</style>

{% schema %}
{
  "name": "Landing Page 3",
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Section size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 800px jpg recommended"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Why Custom",
      "settings": {}
    }
  ]
}
{% endschema %}