 <style>
  #shopify-section-{{section.id}}{background-color: {{section.settings.bg_color}};}
  #shopify-section-{{section.id}} .bg-container{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}

  #shopify-section-{{section.id}} .images-container>div{position: relative;}
  #shopify-section-{{section.id}} .images-container>div.first{width: 60%;padding-top: {{section.settings.padding_img_1_dkp}}%;}
  #shopify-section-{{section.id}} .images-container>div.second{width: 40%;{% if section.settings.img_2 %}padding-top: {{section.settings.padding_img_2_dkp}}%;{% endif %}}

  #shopify-section-{{section.id}} .video-container iframe {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
  #shopify-section-{{section.id}} .video-container {position: relative; overflow: hidden; padding-top: 100%;}
  #shopify-section-{{section.id}} .video-container .video-thumbnail {z-index: 1; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;}
  #shopify-section-{{section.id}} .video-container .trigger-btn {cursor: pointer; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;}
  #shopify-section-{{section.id}} .video-container .trigger-btn svg path {fill: #fff;}
  #shopify-section-{{section.id}} .video-container .trigger-btn svg {width: 5em; height: 5em;}
  {% if section.settings.video_custom_width_and_margin %}
    #shopify-section-{{section.id}} .video-container iframe{width: {{section.settings.video_custom_width}}%;height: {{section.settings.video_custom_height}}%;margin-left: -{{section.settings.video_custom_margin_left}}%;margin-top: -{{section.settings.video_custom_margin_top}}%;}
  {% endif %}

  @media all and (max-width: 600px){
    #shopify-section-{{section.id}} .images-container{flex-direction: column;}
    #shopify-section-{{section.id}} .images-container>div{width: 100% !important;}
    #shopify-section-{{section.id}} .images-container>div.first{padding-top: {{section.settings.padding_img_1_sm}}%;}
    #shopify-section-{{section.id}} .images-container>div.second{padding-top: {{section.settings.padding_img_2_sm}}%;}
    #shopify-section-{{section.id}} .images-container>div.third{padding-top: {{section.settings.padding_img_3_sm}}%;}
  }
</style>

<a href="{{section.settings.link_url}}" aria-label="{{section.settings.alt}}" class="gtm-hero">
  <div class="images-container flex">
    <div class="first image-container">
      <div class="Image--lazyLoad bg-container big {% if section.settings.img_2 %}small--hide{% endif %}" data-bgset="{% render 'lazy_src', image: section.settings.img_1 %}"></div>

      {%- if section.settings.img_1 -%}
        <div class="Image--lazyLoad bg-container small hide small--show" data-bgset="{% render 'lazy_src', image: section.settings.img_1_sm %}"></div>
      {%- endif -%}
    </div>
    <div class="second image-container">
      {%- if section.settings.img_2 -%}
        <div class="Image--lazyLoad bg-container big {% if section.settings.img_2_sm %}small--hide{% endif %}" data-bgset="{% render 'lazy_src', image: section.settings.img_2 %}"></div>
      {%- else -%}
        <div class="video-container small--hide">
          {%- if section.settings.video_thumbnail != nil -%}
            <div class="video-thumbnail Image--lazyLoad" data-bgset="{% include 'lazy_src', image: section.settings.video_thumbnail %}"></div>
            <div class="trigger-btn">
              {% include 'icons', icon: 'trigger' %}
            </div>
          {%- endif -%}
          {% if section.settings.video_url.type == 'youtube' %}
            <div id="youtube-player"></div>
          {% elsif section.settings.video_url.type == 'vimeo' %}
            <iframe 
              id="vimeo-player"
              title="vimeo-player" 
              src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?&autoplay=1&loop=1&muted=1" 
              width="640" 
              height="360" 
              frameborder="0" 
              allowfullscreen>
            </iframe>
          {% endif %}
        </div>
      {%- endif -%}
      {%- if section.settings.img_2_sm -%}
        <div class="Image--lazyLoad bg-container small hide small--show" data-bgset="{% render 'lazy_src', image: section.settings.img_2_sm %}"></div>
      {%- endif -%}
    </div>
    {%- if section.settings.img_3_sm -%}
      <div class="third image-container hide small--show">
        <div class="Image--lazyLoad bg-container small hide small--show" data-bgset="{% render 'lazy_src', image: section.settings.img_3_sm %}"></div>
      </div>
    {%- endif -%}
  </div>
</a>

<script>
  $(function(){
    // remove video on mobile
    if(window.innerWidth < 600){
      $('#shopify-section-{{section.id}} .video-container').remove();
    }
  });
</script>

{% schema %}
{
   "name":"Hero",
   "tag": "section",
   "class": "specialoffer-fb",
   "settings":[
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color",
        "default":"#000000"
      },
      {
        "type":"url",
        "id":"link_url",
        "label":"Link URL",
        "info":"Paste or search."
      },
      {
        "type":"text",
        "id":"alt",
        "label":"Link Alt Text"
      },
      {
         "type":"header",
         "content":"Desktop"
      },
      {
         "type":"image_picker",
         "id":"img_1",
         "label":"Image 1 (Desktop)"
      },
      {
        "type": "range",
        "id": "padding_img_1_dkp",
        "label": "Image 1 Height (Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 40
      },
      {
         "type":"image_picker",
         "id":"img_2",
         "label":"Image 2 (Desktop)"
      },
      {
        "type": "range",
        "id": "padding_img_2_dkp",
        "label": "Image 2 Height (Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 40
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": ["youtube", "vimeo"],
        "label": "Video URL (Desktop)",
        "default": "https://vimeo.com/506150129",
        "info": "This will replace 'Image 2'"
      },
      {
        "type": "image_picker",
        "id": "video_thumbnail",
        "label": "Video Thumbnail"
      },
      {
        "type": "checkbox",
        "id": "video_custom_width_and_margin",
        "label": "Use custom video width, height and margin",
        "default": true
      },
      {
        "type": "range",
        "id": "video_custom_width",
        "label": "Video Custom Width",
        "min": 100,
        "max": 200,
        "step": 1,
        "unit":"%",
        "default": 100
      },
      {
        "type": "range",
        "id": "video_custom_height",
        "label": "Video Custom Height",
        "min": 100,
        "max": 200,
        "step": 1,
        "unit":"%",
        "default": 100
      },
      {
        "type": "range",
        "id": "video_custom_margin_left",
        "label": "Video Custom Margin Left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit":"-%",
        "default": 0
      },
      {
        "type": "range",
        "id": "video_custom_margin_top",
        "label": "Video Custom Margin Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit":"-%",
        "default": 0
      },
      {
         "type":"header",
         "content":"Mobile"
      },
      {
         "type":"image_picker",
         "id":"img_1_sm",
         "label":"Image 1 (Mobile)"
      },
      {
        "type": "range",
        "id": "padding_img_1_sm",
        "label": "Image 1 Height (Mobile)",
        "min": 50,
        "max": 150,
        "step": 1,
        "default": 127
      },
      {
         "type":"image_picker",
         "id":"img_2_sm",
         "label":"Image 2 (Mobile)"
      },
      {
        "type": "range",
        "id": "padding_img_2_sm",
        "label": "Image 2 Height (Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 100
      },
      {
         "type":"image_picker",
         "id":"img_3_sm",
         "label":"Image 3 (Mobile)"
      },
      {
        "type": "range",
        "id": "padding_img_3_sm",
        "label": "Image 3 Height (Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }
   ]
}
{% endschema %}